body{
    background-color: #fafafa;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: #1F1F1F;
    height: 100px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
}
#title{
    font-size: 50pt;
    padding-top: 10px;
    font-family: 'Righteous', cursive;
}